.indicator {
  width: 12px;
  height: 8px;
  transition: width 250ms ease;
  background-color: var(--mantine-color-blush-7);

  &[data-active] {
    width: 40px;
  }
}

.card {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--mantine-color-white);
}

.root {
  background-color: var(--mantine-color-white);
}

.topSection {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: var(--mantine-color-white);
  flex: 1;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}
