.control {
  display: block;
  padding: 3px var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  font-weight: 500;

  &:hover:not([data-status="active"]) {
    background-color: var(--mantine-color-moonstone-2);
  }
}

.link {
  &[data-status="active"] {
    background-color: var(--mantine-color-moonstone-1);
    font-weight: 600;
    border: 1px solid var(--mantine-color-moonstone-3);
  }

  &:hover:not([data-status="active"]) {
    background-color: var(--mantine-color-moonstone-2);
  }
}

.main {
  height: calc(100vh - 60px);
  /* overflow: auto; */
  overflow: hidden;
  width: 100%;
}

.header {
  height: 60px;
  /* background-color: var(--mantine-color-moonstone-3); */
  background-image: linear-gradient(
    to top,
    var(--mantine-color-moonstone-3),
    var(--mantine-color-moonstone-1)
  );
  justify-content: space-between;
  align-items: center;
}

.githubIcon {
  fill: var(--mantine-color-moonstone-9);
  padding-top: 4px;
}
