.control {
  display: block;
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-md);
  border-radius: var(--mantine-radius-md);
  font-weight: 500;

  @mixin hover {
    background-color: light-dark(
      var(--mantine-color-gray-0),
      var(--mantine-color-dark-6)
    );
  }
}

.link[data-status="active"] {
  background-color: var(--mantine-color-moonstone-2);
  font-weight: 600;
  border: 1px solid var(--mantine-color-white);
}

.main {
  height: calc(100vh - 60px);
  /* overflow: auto; */
  overflow: hidden;
  width: 100%;
}

.header {
  height: 60px;
  /* background-color: var(--mantine-color-moonstone-3); */
  background-image: linear-gradient(
    to top,
    var(--mantine-color-moonstone-3),
    var(--mantine-color-moonstone-1)
  );
  justify-content: space-between;
  align-items: center;
}
